<h1>Welcome#HTML</h1>
<p>Find me in app/views/welcome/HTML.html.erb</p>
<h5>Vocabulary:</h5>
<p>HTML -HyperText Markup Language. Hypertext means "text with links in it." Any time you click on a word that brings you to a new webpage, you've clicked on hypertext!

A markup language is a programming language used to make text do more than just sit on a page: it can turn text into images, links, tables, lists, and much more.

syntax - rules for communicating</p>
<p>tags- Things inside '<>'s are called tags.
           tags have an opening and a closing </br>
Example of opening tag: *img here*</br>
Example of closing tag: *img here* </p>
<p>nest - placing code within code</p>

<p>hyperlinks or "links" - *img here* , creates a link to another website, when clicked will redirect the user to another website.</p>

<p>image tag:		*img here*
-self closing, renders an image in your screen
</p>

<p>boiler plate(or, how to format your html):
 
*img here*
</p>

<p>-titles go within * img here * tags</p>

<p>-   * img here *    tags go within body</p>

<p>Heading size tags...
* img here *</p>

<p>nested image and link tag: </br>
*img here *
-clicking on the picture will redirect them to the link</p>