/*// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
body {
	font-family: Verdana;
	background-color: #A3A3C2;
	
	h1 {
		color: #000052;
	}
	h3 {
		color: 	#000066;
	}
	p {
		color: #333385;
	}
	a {
		text-decoration: none;
		color: blue;
	}
	img {
		border-radius: 15px;
		border: 2px solid black;

	}
	.index {
		text-align: center;
	}
	.body {
		padding-left:10px;
		padding-right:10px;
		background-color: #E6E6F0; 
		border: 2px solid black;
		border-radius: 15px;
	}
	.content {
		background-color: #A3A3C2;
		border-radius: 15px;
		border: 2px solid black;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
}



