/*// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/
body {
	font-family: Verdana;
	background-color: #A3A3C2;
	
	h1 {
		color: #000052;
	}
	h3 {
		color: 	#000066;
	}
	p {
		color: #333385;
	}
	a {
		text-decoration: none;
	}
	img {
		border-radius: 15px;
		border: 2px solid black;

	}
	.index {
		text-align: center;
	}
}



